{%- if pagename != 'index' and pagename != 'documentation' %}
  {%- set nav_bar_class = "sk-docs-navbar" %}
  {%- set top_container_cls = "sk-docs-container" %}
{%- else %}
  {%- set nav_bar_class = "sk-landing-navbar" %}
  {%- set top_container_cls = "sk-landing-container" %}
{%- endif %}

{%- set drop_down_navigation = [
  ('Overview', pathto('overview')),
  ('About us', pathto('aboutus')),
  ("Licenses", pathto('software/licenses')),
  ("Credits", pathto('credits')),
  ("Roadmap", pathto('roadmap')),
  ('Contributing', pathto('contributing')),
  ('Cheat sheet', pathto('cheat_sheet')),
  ('Software', pathto('software/index')),
  ('FAQ', pathto('faq')),
  ('Glossary', pathto('glossary')),
  ('Bibliography', pathto('zreferences')),
  ('General index', pathto('genindex'))]
-%}

<nav id="navbar" class="{{ nav_bar_class }} navbar navbar-expand-md navbar-light bg-light py-0">
  <div class="container-fluid {{ top_container_cls }} px-0">
    {%- if logo %}
      <a class="navbar-brand py-0" href="{{ pathto('index') }}">
        <img
          class="sk-brand-img"
          src="{{ pathto('_static/' + logo, 1) }}"
          alt="logo"/>
      </a>
    {%- endif %}
    <button
      id="sk-navbar-toggler"
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="sk-navbar-collapse collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="sk-nav-link nav-link" href="{{ pathto('user_guide') }}">User Guide</a>
        </li>
        <li class="nav-item">
          <a class="sk-nav-link nav-link" href="{{ pathto('api') }}">API</a>
        </li>
        <li class="nav-item">
          <a class="sk-nav-link nav-link" href="{{ pathto('examples_and_tutorials') }}">Examples</a>
        </li>
        <li class="nav-item">
          <a class="sk-nav-link nav-link" href="{{ pathto('_modules/gemseo') }}">Modules</a>
        </li>
        {%- for title, link in drop_down_navigation %}
        <li class="nav-item">
          <a class="sk-nav-link nav-link nav-more-item-mobile-items" href="{{ link }}">{{ title }}</a>
        </li>
        {%- endfor %}
        <li class="nav-item dropdown nav-more-item-dropdown">
          <a class="sk-nav-link nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {%- for title, link in drop_down_navigation %}
              <a class="sk-nav-dropdown-item dropdown-item" href="{{ link }}">{{ title}}</a>
            {%- endfor %}
          </div>
        </li>
      </ul>
      {%- if pagename != "search"%}
      <div id="searchbox" role="search">
          <div class="searchformwrapper">
          <form class="search" action="{{ pathto('search') }}" method="get">
            <input class="sk-search-text-input" type="text" name="q" aria-labelledby="searchlabel" />
            <input class="sk-search-text-btn" type="submit" value="{{ _('Go') }}" />
          </form>
          </div>
      </div>
      {%- endif %}
    </div>
  </div>
</nav>
